@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Raleway:wght@700&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

@media (max-width: 700px) {
    .navbar {
        display: flex;
        flex-direction: column;
        background: #000;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 200px;
        border-radius: 5px;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: opacity 0.3s ease;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar.active {
        height: auto;
        opacity: 1;
        transform: scaleY(1);
    }

    .header .hamburger {
        display: block;
        font-size: 26px;
        color: #fff;
        cursor: pointer;
    }

    .navbar a::before {
        display: none;
    }
}


@media (max-width: 750px){
    .banner-text{
        font-size: 40px !important;
    }
}


@media (max-width: 450px){
    .banner-text{
        font-size: 32px !important;
    }

    .blog1-card{
        height: 100% !important;
    }
}

@media (max-height: 450px){
    .banner-text{
        font-size: 32px !important;
    }
}

@media (max-width: 990px) {
    .card {
        flex-wrap: wrap;
        /* Allow wrapping of the cards */
        justify-content: space-between;
        /* Adjust spacing between cards */
    }

    .blog1-card,
    .blog2-card,
    .blog3-card {
        width: 45%;
        /* Set card width to 45% for two cards per row */
    }
}

.hamburger {
    display: none;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 2px;
    background: #e94560;
    transition: .3s;
}


.navbar a:hover::before {
    width: 100%;
}

.banner{
    background-image: url(images/book-reviews/bookreviews-mainimage.png);
    background-size: cover;
    background-position: center center;
    height: 45vh;
}

.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 55px;
    margin: 0;
    height: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.blog1-card-link {
    text-decoration: none;
    color: inherit;
}

.blog1-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    height: 450px;
}

.blog1-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog1-info {
    padding: 10px;
}


.blog2-card-link {
    text-decoration: none;
    color: inherit;
}

.blog2-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    height: 450px;
}

.blog2-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog2-info {
    padding: 10px;
}


#description {
    font-size: 15px;
    padding: 10px;
    text-align: left;
    text-indent: 5.5%;
}


.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#blog-search {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

#blog-search:focus {
    border-color: #000;
}


.book-title {
    position: relative;
    font-size: 15px;
    color:#000;
    font-weight: 500;
    text-decoration: none;
}